<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategory" />
                <binding name="BasicHttpBinding_IProducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CategoryService/CategoryService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategory"
                contract="ConsoleCategoryServiceReference.ICategory" name="BasicHttpBinding_ICategory" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ProductService/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProducts"
                contract="ConsoleProductServiceReference.IProducts" name="BasicHttpBinding_IProducts" />
        </client>
    </system.serviceModel>
</configuration>